.button {
    background-color: rgb(231, 231, 227);
    height: 4rem;
    width: 10rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem 'DM Sans', sans-serif;
    transition: background 0.3s;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    color: rgb(7, 70, 129);
 }

 img{
    image-rendering: auto;
    height: 1.5rem;
 }
body {

    text-align: center;
    background-image: url(https://images7.alphacoders.com/516/thumb-1920-516124.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 a {
    text-decoration: none;
 }
h1 {
    display: inline-block;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom,#173ce0 50%,#e9ebe8 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-style: italic;
    font-size: 35px;
}
span {
    display: inline-block;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom,#173ce0  50%,#e9ebe8  70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-style: italic;
    font-size: 35px;
}
a {
    text-decoration: none;
 }
 
